.contact-section {
    background: linear-gradient(to bottom, #000 0%, rgba(0, 0, 0, 0.9) 75%, rgba(0, 0, 0, 0.8) 100%);
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

form {
    background-color: rgba(255, 255, 255, 0);
    padding: 2rem 2rem 1rem 2rem;
    border-radius: 10px;
}

.container-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: auto;
}

.container-form div {
    background-color: rgb(255, 255, 255);
    padding: 18px 30px;
    border-radius: 10px;
}

.container-form div:nth-child(1) {
    grid-column: span 2;
}

.container-form div:nth-child(4) {
    grid-column: span 2;
}

.container-form div:nth-child(5) {
    grid-column: span 2;
}

.container-form div label {
    text-transform: uppercase;
    font-size: 12px;
}

.container-form div input,
textarea {
    border: none;
    background-color: rgb(247, 247, 247);
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    outline: none;
}

.button-submit {
    background-color: rgb(24, 37, 53);
    border-radius: 5px;
    width: 100%;
    height: 2.7rem;
    border: 0;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.button-submit:hover{
    background-color: rgb(0, 0, 0);
}

@media (max-width: 767px) {
    .container-form {
        grid-template-columns: 1fr !important;
    }

    .container-form div:nth-child(1),
    .container-form div:nth-child(4),
    .container-form div:nth-child(5) {
        grid-column: span 1 !important;
    }
}