<section class="contact-section" id="contact">
    <div class="container">
        <form (ngSubmit)="saveForm()" class="form px-5">
            <div class="text-center">
                <p class="title text-white">Contáctanos</p>
            </div>
        </form>
    </div>
    <!-- <iframe src="https://localhost:44300/" width="100%" allow style="height: 100vh"></iframe> -->
    <iframe src="https://backend-rjsanndoval-webpage.onrender.com/" width="100%" allow style="height: 100vh"></iframe>
</section>