<div class="navbar-wrap">
    <nav class="navbar navbar-expand-lg navbar-dark gradient-custom">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars text-light"></i>
            </button>
            <div class="full-screen-nav collapse navbar-collapse justify-content-center text-center" id="navbarSupportedContent">
                <ul class="navbar-nav mt-3 mt-lg-0">
                    <li class="nav-item text-center mx-2 mx-lg-1">
                        <a href="#hero" class="nav-link active">
                            <div><i class="fas fa-home fa-lg mb-1"></i></div>
                            Home
                        </a>
                    </li>
                    <li class="nav-item text-center mx-2 mx-lg-1">
                        <a href="#service" class="nav-link">
                            <div><i class="fas fa-screwdriver-wrench fa-lg mb-1"></i></div>
                            Servicios
                        </a>
                    </li>
                    <li class="nav-item text-center mx-2 mx-lg-1">
                        <a href="#products" class="nav-link">
                            <div><i class="fas fa-tag fa-lg mb-1"></i></div>
                            Productos
                        </a>
                    </li>
                    <li class="nav-item logo-item mx-2 mx-lg-1">
                        <a class="navbar-brand nav-link" href="#hero">
                            <img src="/assets/images/Logo 2025 V2 Rojo.png" alt="logo">
                        </a>
                    </li>
                    <li class="nav-item text-center mx-2 mx-lg-1">
                        <a href="#about" class="nav-link">
                            <div><i class="fas fa-handshake fa-lg mb-1"></i></div>
                            Acerca
                        </a>
                    </li>
                    <li class="nav-item text-center mx-2 mx-lg-1">
                        <a href="#faq" class="nav-link">
                            <div><i class="fas fa-circle-question fa-lg mb-1"></i></div>
                            Preguntas
                        </a>
                    </li>
                    <li class="nav-item text-center mx-2 mx-lg-1">
                        <a href="#contact" class="nav-link">
                            <div><i class="fas fa-user-pen fa-lg mb-1"></i></div>
                            Contacto
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="icons-wrap text-end text-white pe-4">
        <!-- Facebook -->
        <a class="m-2 text-white" href="https://www.facebook.com/RJSanndoval/" role="button" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <!-- Instagram -->
        <a class="m-2 text-white" href="https://www.instagram.com/rjsanndoval/" role="button" target="_blank"><i class="fab fa-instagram"></i></a>
        <!-- Github -->
        <a class="m-2 text-white" href="https://wa.link/5n4y9h" role="button" target="_blank"><i class="fab fa-whatsapp"></i></a>
    </div>
</div>