<section class="hero-wrap" id="hero">
    <div class="container d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">rjsanndoval</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5 text-uppercase">Reparación de computadoras</h2>
                <a class="btn btn-outline-dark text-white-50 rounded-0 text-uppercase btn-lg" href="#service">Iniciar</a>
            </div>
        </div>
    </div>
</section>