<section class="hero-wrap" id="hero">
    <div class="container d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="hero-title mx-auto my-0 text-uppercase mb-3">rjsanndoval</h1>
                <h2 class="hero-subtitle text-white-50 mx-auto mt-2 mb-5 text-uppercase">IT SOLUTIONS</h2>
                <!-- <a class="btn-init btn  text-uppercase" href="#service">Servicios</a> -->
            </div>
        </div>
    </div>
</section>