.products-section {
    background: linear-gradient(to top, rgba(24, 37, 53) 0%, rgb(0, 0, 0) 100%, rgba(0, 0, 0, 0.8) 100%);
}

.products-section p {
    color: #fff;
}

.grid-container{
    display: grid;
    grid-template-columns: 45% 45%;
    align-items: center;
    gap: 2.5rem;
}

.product-description-wrap h3, .product-description-wrap p {
    margin-bottom: 0px;
}

.image-content img {
    border-radius: 10%;
}

@media (max-width: 1000px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}