<section class="products-section text-center" id="products">
    <div class="container">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <p class="title">Productos</p>
                <p class="text-white-50">
                    Grayscale is a free Bootstrap theme created by Start Bootstrap. It can be yours right now,
                    simply download the template on
                    <a href="https://startbootstrap.com/theme/grayscale/">the preview page.</a>
                    The theme is open source, and you can use it for any purpose, personal or commercial.
                </p>
            </div>
        </div>
        <div class="grid-container">
            <div class="text-content">
                <p class="text-white-50">
                    Grayscale is a free Bootstrap theme created by Start Bootstrap. It can be yours right now,
                    simply download the template on
                    <a href="https://startbootstrap.com/theme/grayscale/">the preview page.</a>
                    The theme is open source, and you can use it for any purpose, personal or commercial.
                </p>
            </div>
            <div class="image-content">
                <img src="assets/images/computer-wallpaper.jpg" alt="img" class="img-fluid">
            </div>
            <div class="image-content">
                <img src="assets/images/computer-wallpaper.jpg" alt="img" class="img-fluid">
            </div>
            <div class="text-content">
                <p class="text-white-50">
                    Grayscale is a free Bootstrap theme created by Start Bootstrap. It can be yours right now,
                    simply download the template on
                    <a href="https://startbootstrap.com/theme/grayscale/">the preview page.</a>
                    The theme is open source, and you can use it for any purpose, personal or commercial.
                </p>
            </div>
            <div class="text-content">
                <p class="text-white-50">
                    Grayscale is a free Bootstrap theme created by Start Bootstrap. It can be yours right now,
                    simply download the template on
                    <a href="https://startbootstrap.com/theme/grayscale/">the preview page.</a>
                    The theme is open source, and you can use it for any purpose, personal or commercial.
                </p>
            </div>
            <div class="image-content">
                <img src="assets/images/computer-wallpaper.jpg" alt="img" class="img-fluid">
            </div>
        </div>
    </div>
</section>
