<section class="service-section" id="service">
    <div class="container">
        <p class="title">Servicios</p>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="fas fa-gem fs-1 text-danger"></i></div>
                    <h3 class="h4 mb-2">Rapidez</h3>
                    <p class="text-muted mb-0">Our themes are updated regularly to keep them bug free!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="fas fa-laptop fs-1 text-danger"></i></div>
                    <h3 class="h4 mb-2">Eficacia</h3>
                    <p class="text-muted mb-0">All dependencies are kept current to keep things fresh.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="fas fa-globe fs-1 text-danger"></i></div>
                    <h3 class="h4 mb-2">Confianza</h3>
                    <p class="text-muted mb-0">You can use this design as is, or you can make changes!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="fa-regular fa-heart fs-1 text-danger"></i></div>
                    <h3 class="h4 mb-2">Hecho con amor</h3>
                    <p class="text-muted mb-0">Is it really open source if it's not made with love?</p>
                </div>
            </div>
        </div>
        <div class="grid-container">
            <div class="image-content">
                <img src="assets/images/computer-wallpaper.jpg" alt="img" class="img-fluid">
                <div class="text-overlay">
                    <div class="grid-container-description">Limpieza completa para tu equipo...</div>
                    <div class="grid-container-title">Mantenimiento preventivo</div>
                </div>
            </div>
            <div class="image-content">
                <img src="assets/images/computer-wallpaper.jpg" alt="img" class="img-fluid">
                <div class="text-overlay">
                    <div class="grid-container-description">Descripción</div>
                    <div class="grid-container-title">Ensamble de equipos de cómputo</div>
                </div>
            </div>
            <div class="image-content">
                <img src="assets/images/computer-wallpaper.jpg" alt="img" class="img-fluid">
                <div class="text-overlay">
                    <div class="grid-container-description">Limpieza completa para tu equipo...</div>
                    <div class="grid-container-title">Mantenimiento preventivo</div>
                </div>
            </div>
            <div class="image-content">
                <img src="assets/images/computer-wallpaper.jpg" alt="img" class="img-fluid">
                <div class="text-overlay">
                    <div class="grid-container-description">Limpieza completa para tu equipo...</div>
                    <div class="grid-container-title">Mantenimiento preventivo</div>
                </div>
            </div>
        </div>
    </div>
</section>