.service-section{
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.grid-container{
    padding-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px;
}

.grid-container div{
    position: relative;
    display: inline-block;
}

.grid-container div img{
    border-radius: 10px;
    width: 100%;
}

.grid-container div p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Ajusta el centrado */
    color: white; /* Hace el texto visible */
    font-size: 20px; /* Ajusta el tamaño */
    font-weight: bold; /* Hace el texto más visible */
    background: rgba(0, 0, 0, 0.5); /* Agrega fondo semitransparente */
    padding: 10px;
    border-radius: 5px;

}