section {
    padding-top: 10%;
    padding-bottom: 10%;
    padding-inline: 10%;
    font-family: 'Arial', sans-serif;
    min-height: 100vh;
}

section div .title{
    font-size: calc(1.425rem + 2.1vw);
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
}
